.App {
  text-align: center;
  background-color: #d4d4d2;
  
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  display: block;

}

